@model Championship_Internal_Front.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "_Login_Layout";
}






<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-1">
                <h3 class="mb-3">Fazer Login</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class=" pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form asp-controller="Auth" asp-action="LoginAuth" method="post" class="row g-4">
                                    <div class="col-12">
                                        <label>Email<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-envelope-fill"></i></div>
                                            <input type="email" Name="Email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Senha<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-lock"></i></div>
                                            <input type="password" Name="Password" class="form-control" placeholder="Senha">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="signup" class="float-end text-primary">Clique aqui para registrar-se!</a>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" value="Login" class="btn btn-primary px-4 float-end mt-4">login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}
.form-right i {
    font-size: 100px;
}
</style>