@model Championship_Internal_Front.Models.NewChampionship

@{
    ViewData["Title"] = "Add";
}


<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-1">
                <h3 class="mb-3">Criação de Campeonato</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form asp-controller="ApiChampionship" asp-action="AddChampionship" method="post" class="row g-4">
                                    <div class="col-12">
                                        <label>Title<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input asp-for="Id" hidden="hidden" class="form-control" />
                                            <div class="input-group-text"><i class="bi bi-trophy"></i></div>
                                            <input asp-for="Title" type="text" Name="Title" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Descrição<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-card-text"></i></div>
                                            <textarea type="text" Name="Description" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Data de Início<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-calendar"></i></div>
                                            <input  type="datetime-local" Name="StartDate" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Quantidade de fases<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-view-list"></i></div>
                                            <input type="number" Name="TotalPhases" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" value="AddChampionship" class="btn btn-success px-4 float-end mt-4">Confirmar Edição</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    a {
        text-decoration: none;
    }

    .login-page {
        width: 100%;
        height: 100vh;
        display: inline-block;
        display: flex;
        align-items: center;
    }

    .form-right i {
        font-size: 100px;
    }
</style>

@*<!-- Main content -->
<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1></h1>
        <p></p>
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Novo Campeonato</h3>
            
          </div>
          <div class="card-body">
            <form asp-controller="ApiChampionship" asp-action="AddChampionship"  method="post">
            <div class="form-group">
              <label for="inputTitulo">Título</label>
              <input type="text" id="inputtitulo" name="Title" class="form-control">
            </div>
            <div class="form-group">
              <label for="inputDescricao">Descrição</label>
              <textarea id="inputdescricao" name="Description" class="form-control" rows="4"></textarea>
            </div>
            <!-- Date and time -->
          <div class="form-group">
               <label for="dataInicio">Data de início</label>
            <div class="input-group date" id="datainicio" data-target-input="nearest">
                <input type="datetime-local" name="StartDate" class="form-control datetimepicker-input"/>
            </div>
          </div>
            <div class="form-group">
              <label for="Fases">Quantidade de fases</label>
              <input type="number" id="quantidadefases" name="TotalPhases" class="form-control">
            </div>
            <div class="row">
              <div class="col-12">
                <a href="#" class="btn btn-secondary">Cancel</a>
                <button type="submit" value="championship" class="btn btn-success">Criar novo Campeonato</button>
              </div>
            </div>
            </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
        <!-- /.card -->
    </div>
  </div>
</section>*@